page-home {
    .content_div {
        position: absolute;
        top: 10px;
        left: 0px;
        right: 0px;
        .lootery {
            width: 65%;
            margin: 0 auto;
            padding-top: 20px;
            display: block;
        }

        p {
            font-size: 12px;
            color: white !important;
            word-break:break-all;
            line-height: 20px;
            letter-spacing: 2px;
            font-weight: 100;
        }
        
        .desc {
            margin: 0px 25px;
            margin-top: 20px;
            padding: 0px 5px;
            word-break: normal;
            color: #fff;
            a {
                display: inline;
                color: white;
                text-decoration: underline;
            }
        }
        
        .desceng {
            margin: 0px 25px;
            margin-top: 5px;
            word-break: normal;
            color: #fff;
            a {
                color: white;
                text-decoration: underline;
            }
        }
        .now_block {
            margin-top: 12px;
            text-align: center;
            font-size: 14px;
        }
        .number_div {
            color: white;
            width: 270px;
            height: 256px;
            margin: 0 auto;
            div {
                font-family: "DINAlternate-Bold";
                font-size: 30px;
                border: 2px solid white;
                border-radius: 10px;
                width: 54px;
                height: 54px;
                float: left;
                text-align: center;
                line-height: 54px;
                margin-top: 10px;
                margin-left: 10px;
                cursor: pointer;
            }
            div[class="active"] {
                background-color: #BBB;
            }
        }

        
        .sumit_btn {
            border: 2px solid white;
            border-radius: 10px;
            padding: 5px;
            width: 200px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom:20px;
            cursor: pointer;
            p {
                margin-bottom: 0px;
                width: 100%;
                text-align: center;
            }
        }
        
    }
}
